.inner{
  width: min(100% - 60px, 780px);
  margin-inline: auto;
  margin-top: 60px;
}
.news{
  &List{
    display: grid;
    gap: 60px;
  }
  &Item{
    border: 1px solid #ccc;
    a{
      display: grid;
      gap: 20px;
      padding: 20px;
    }
  }
  &Inner{
    display: grid;
    gap: 20px;
    padding: 20px;
  }
  &Top{
    display: flex;
  }
  &Date{
    color: #ccc;
  }
  &Label{
    &Wrap{
      margin-left: auto;
      display: flex;
      gap: 10px;
    }
    color: blue;
    display: inline-block;
    border: 1px solid blue;
    padding: 3px 6px;
    border-radius: 4px;
  }
  &Title{
    font-size: 24px;
  }
  &Content{
    &._list{
      width: 70%;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}

img{
  width: 100%;
  height: auto;
}
